ul,li {list-style: none;}
a{color: inherit; text-decoration: none;}
.container {display: flex;}
.logo img{width: 200px; height: 100px;}
.ul>li>a{padding: 0 40px; line-height: 50px;}
.ul>li>a:hover{background-color: skyblue;}